.item {
  display: flex;
  align-items: center;
  gap: 20px;
  min-width: 450px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border-radius: 5px;
  padding: 10px 20px;
}

.item:hover {
  transform: scale(1.02);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.avatar {
  width: 100px;
  height: 100px;
  background-color: lightgray;
  border-radius: 8px;
}

.name {
  font-size: 35px;
  font-weight: 500;
}
.status {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: green;
}
